.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-image: url("https://owlbot.info/static/owlbot/img/mobile2.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 30%;
  height: 500px;
  min-width: 330px;
  max-width: 500px;
  background-size: contain;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  color: white;
  margin-top: 2rem;
}

footer a {
  color: white;
}

.loading {
  display: flex;
  align-items: center;
  height: 340px;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .App-header {
    height: 57%;
  }
}
